:root {
  font: normal 16px 'Helvetica', sans-serif;
}

body {    
  background: #dee3ea;    
  margin: 0;
}

.container {
  min-height: 100vh;
  max-width: 730px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.app {
  background: #f7f8f9;
  width: 100%;
  max-width: calc(100% - 20px);
  border-radius: 4px 4px 0 0;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;

}

.header {
  background-color: #517396;
  width: 100%;
  height: 150px;
}

.footer {
  background-color: #021d38;
  width: 100%;
  height: 150px;
}

.checklist-container {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.checklist-container__input {
  height: 100%;
  width: 100%;  
  box-sizing: border-box;
  padding: 0 0 10px 150px;
  letter-spacing: 1px;
  background: transparent;
  color: #666666;
  font-size: 1rem;
  border: 0;
}

.checklist-listing {
  cursor: pointer;
  height: 50px;
  letter-spacing: 1px;
  box-sizing: border-box;
  padding: 19px 13px 0 18px;
  box-shadow: 0 1px 0 0 #e6e6e6, 0 2px 0 0 white;
}

.checklist__name {
  font-size: 19px;
  font-weight: 500;
  margin: 10px;
  
}

.checklist {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.checklist__items {
  cursor: pointer;
  height: 50px;
  letter-spacing: 1px;
  box-sizing: border-box;
  padding: 19px 13px 0 18px;
  box-shadow: 0 1px 0 0 #e6e6e6, 0 2px 0 0 white;
  display: flex;  
}

.checklist__items--checked {
  text-decoration: line-through;
  color: green;
}

.add-item {
  height: 50px;
  width: 100%;
}

.add-item__input {
  height: 100%;
  width: 100%;
  padding-left: 70px;
  box-sizing: border-box;
  letter-spacing: 1px;
  background: transparent;
  color: #666666;
  font-size: 1rem;
  border: 0;
}

.checklist-editor {
  height: 50px;
  width: 100%;
}

.checklist-editor__input {
  height: 50px;
  width: 100%;
  padding-left: 70px;
  box-sizing: border-box;
  letter-spacing: 1px;
  background: transparent;
  color: #666666;
  font-size: 1rem;
  border: 0;
}

